<template lang="pug">
  main.main-content
    search-form
    table-projects(v-if="loaded")
    project-modal(v-if="showModal")
      router-view(name="modal")
</template>

<script>
import SearchForm from './SearchForm.vue';
import TableProjects from './TableProjects.vue';
import projectModal from './Modal.vue';

import { mapState } from 'vuex';

export default {
  name: 'Home',
  components: {
    SearchForm,
    TableProjects,
    projectModal,
  },
  data() {
    return {
      showModal: this.$route.meta.showModal,
    }
  },
  watch: {
    '$route.meta' ({ showModal }) {
      this.showModal = showModal;
    }
  },
  computed: {
    ...mapState({
      loaded: (state) => state.loaded,
    })
  },
};
</script>
