<template lang="pug">
  div.modal-item
    div.modal-content
      <button class="close-button" @click="$router.go(-1)">
        close-icon
      </button>
      h3.modal-content__header Project {{this.$route.params.id}}
      p.modal-content__inner
        b id: 
        span {{projectData.id}}
      p.modal-content__inner
        b name: 
        span {{projectData.name}}
      p.modal-content__inner
        b description: 
        span {{projectData.description}}
      p.modal-content__inner
        b last_activity_at: 
        span {{projectData.last_activity_at}}
</template>

<script>
import { mapGetters } from 'vuex';
import CloseIcon from './icons/Close.vue';

export default {
  name: 'projectModal',
  components: {
    CloseIcon,
  },
  data() {
    return {
      projectData: null,
    }
  },
  computed: {
    ...mapGetters(['getProjectPerId']),
  },
  created() {
    this.projectData = this.getProjectPerId(this.$route.params.id);
  }
}
</script>

<style lang="scss" scoped>
.modal-item {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba($color: #000000, $alpha: 0.5);
}
.modal-content {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 15px;
  &__header {
    font-size: 30px;
    font-weight: bold;
  }
  &__inner {
  }
}
.close-button {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  height: 40px;
  width: 40px;
  background-color:white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 30px;
    height: 30px;
  }
}
</style>

