<template lang="pug">
  div.container.mt-3.mb-3
    h1.mb-3 Search project on Gitlab
    form.search-form(
      method="get"
      @submit.prevent="sendForm")
      div.row
        span.error {{ validation.firstError("userMessage") }}
        input(
          method="get"
          type="text"
          class="form-control col-10"
          placeholder="Type name of project here..."
          :class="{'valid-error': validation.hasError('userMessage')}"
          v-model="userMessage"
          focus)
        button(
          type="submit"
          class="btn btn-primary col-2"
          :disabled="userMessage.length === 0"
          ) Search
</template>

<script>
import SimpleVueValidator from 'simple-vue-validator';
import { mapActions } from 'vuex';

const { Validator } = SimpleVueValidator;

export default {
  mixins: [SimpleVueValidator.mixin],
  name: 'SearchForm',
  computed: {
    userMessage: {
      get() {
        return this.$store.state.userMessage;
      },
      set(value) {
        this.$store.commit('updateMessage', value);
      },
    },
  },
  validators: {
    userMessage: function(value) {
      return Validator.value(value).required('Please enter project name');
    },
  },
  methods: {
    ...mapActions(['fetchData']),
    sendForm() {
      this.$validate().then(success => {
        if (!success) return;
        this.fetchData();
        this.userMessage = '';
        this.validation.reset();
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.search-form {
  position: relative;
}

.error {
  position: absolute;
  top: -25px;
  left: -15px;
  color: firebrick;
}

.valid-error {
  border: 1px solid firebrick;
}
</style>
