<template lang="pug">
  div.container-fluid
    h2 Table of Projects
    table.table.table-hover.container-fluid
      thead.thead-dark
        tr
          th(v-for="header in this.tableHeaders") {{ header }}
      tbody
        router-link(
          tag="tr"
          :to="{name: 'projectModal', params: {id: project.id}}"
          v-for="project in projectData"
          :key="project.id")
          td {{project.id}}
          td {{project.name}}
          td {{project.description}}
          td {{project.last_activity_at}}
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: 'TableProjects',
  data() {
    return {
      tableHeaders: ['id', 'name', 'description', 'last_activity_at'],
    }
  },
  computed: {
    ...mapState({
      projectData: (state) => state.rawData,
      loaded: (state) => state.loaded,
    }),
  },
}
</script>
